@import "tailwindcss";

body {
  font-family: "Vazirmatn", system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #cbd5e1 transparent;
}

*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-thumb {
  background-color: #cbd5e1;
  border-radius: 9999px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

::selection {
  background-color: #bae6fd;
  color: #0c4a6e;
}
